.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=EAEDDB');
}
.parallax {
    /* The image used */
    background-image: url("XichiganOSU2016.JPG");
    
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body{
  padding-top: 50px;
}

h2{
  text-align: center;
}
